<html>
    <head>
        <title>House Audio Recorder</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    {% if recording.running %}
    <body id="page" class="rec-page recording">
    {% else %}
    <body id="page" class="rec-page not-recording">
    {% endif %}
	<div class="action">
            <button id="tagbtn" class="btn rec-btn">View Tags</button>
            <button id="recToggle" class="btn rec-btn">{{ recording.toggle }} Recording</button>
            <button id="listbtn" class="btn rec-btn">View Recordings</button>
    </div>

    <div id="recInfo" class="action" {% if not recording.running %} hidden {% endif %}>
	        <h1 id="recTime" class="time-counter"></h1>
            <h2>Recording <input type="text" value="{{ recording.name }}" class="text-input" id="recName"></input></h2>

            <div>
                <input type="text" id="tagSearch" class="tag-input"></input>
                <a id="tags"></a>
            </div>
	</div>


        <!-- Scripts -->
        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/gradient.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tagcontainer.js') }}"></script>
	<script src="{{ url_for('static', filename='js/recpage.js') }}"></script>
        <script type="text/javascript">
            {% if recording.running %}
            gradientPercent = 1;
            {% else %}
            gradientPercent = 0;
            {% endif %}
            setGradientStyle(page);
        </script>

    </body>
</html>
