<html>
    <head>
        <title>House Audio Recorder</title>
    </head>

    <body>
        <div>
            <h1>Recording Time Here</h1>
            <button id="recordToggle">{% recording.toggle %} Recording</button>
        </div>


        <!-- Scripts -->
        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
        <script>
            $("#recordToggle").click(function(e) {
                console.log("clicked");
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/toggleRec/",
                    data: {},
                    success: function (data) { console.log(data) }
                });
            });
        </script>
    </body>
</html>
